@tailwind base;
@tailwind components;
@tailwind utilities;

/* .c-checkbox,  */
.c-radio {
  display: none;
}

.radio-active {
  @apply bg-background-active;
}

.modal-bottom {
  height: calc(100vh - 10vh);
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

.blocker{
  backdrop-filter: blur(4px);
}