@tailwind base;
@tailwind components;
@tailwind utilities;

/* .c-checkbox,  */
.c-radio {
  display: none;
}

.radio-active {
  @apply bg-background-active;
}

/* .product-detile {
  height: calc(100vh - 5vh);
} */

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }